@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    @font-face {
        font-family: 'Kansas Casual';
        font-weight: 700;
        src: url('./assets/VCKansasCasual-Bold.woff2') format('woff2');
    }
}

@layer components {
    .icon {
        @apply w-font;
        @apply relative;
        @apply inline;
    }

    
}
